<% provide(:title, 'Home') %>

<ul class="nav nav-tabs nav-justified home-tabs">
  <li <% if !@category %> class="active" <% end %> ><%= link_to "All", root_path %></li>
<% @categories.each do |tmp| %>
  <li <% if @more && @category && @category == tmp %> class="active" <% end %> ><%= link_to tmp.title.capitalize, root_path(category: tmp.id) %></li>
<% end %>

  <% if !@more && @category %><li class="active"><%= link_to @category.title.capitalize, root_path(category: @category.id) %></li><% end %>

  <li> <%= link_to "More", categories_path %></li>
</ul>

<ol class="goods">
  <%= render partial: "shared/show_goods", collection: @goods, as: "good" %>
</ol>
<%= will_paginate @goods %>
