<script>
  $(function(){
    $("textarea").wysihtml5();
  });
</script>
<div class="row">
  <div class="span8 offset1">
    <%= form_for(@good) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title %>
      
      <%= f.label :content %>
      <%= f.text_area :content %>

      <%= f.label :category_id %>
      <%= f.select :category_id, @categories %>

      <%= f.submit "Save changes", class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
